#insta{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

#insta a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

@media (max-width: 600px) {
    #insta{
        position: relative;
        width: max-content;
    }
}